<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home Page</title>
<link rel="stylesheet" href="/style.css" th:href="@{/css/style.css}">
</head>
<body>
	<h1>Welcome to the Home Page </h1>
	
	<div class="container">
		<h2>Your Data Table</h2>
		<table border="1">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Email</th>
					<th>Age</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="data : ${dataList}">
					<td th:text="${data.id}"></td>
					<td th:text="${data.userName}"></td>
					<td th:text="${data.userMail}"></td>
					<td th:text="${data.age}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	 <ul>
		<li><a th:href="@{/allData}">Look Others</a></li>
	</ul> 
</body>
</html>
